<div class="inverse-sidebar">
    <p>
        <!--<img class="photo"-->
        <!--ng-src={{"/homepage/images/utkarsh.jpg"}}-->
        <!--align="left"-->
        <!--border="0">-->
        <br>Hey there. My name is Utkarsh (Pronounced as <i>Oot-Karrsh</i>).
        Utkarsh is an old Sanskrit name meaning progress.
        I recently completed my Master's degree in Computer Science from Northeastern University in the beautiful
        city of Boston. I am passionate about developing software which have a profound and widespread impact, and
        are fun to develop.
    </p>

    <p>
        When I get time, I love to explore Boston on my bike, or trek in New Hampshire!
        My current favourite book is Sapiens by Yuval Noah Harari, and I am a big
        fan of Harry Potter, and The Lord of the Rings! Also, I am crazy about birdwatching and have been doing it since I was a kid. Among the bird species I have seen
        till now, Paradise Flycatcher is my favourite.
    </p>

    <p style="color:#7b080c">
        <i> *** I am currently looking for full time opportunities. Connect me on
            Linkedin, or shoot me an email on <code>jadhav.u@husky.neu.edu</code> ***</i>
    </p>
    <!--<p>-->
        <!--TL;DR. Useful Links - -->
    <!--<ul>-->
        <!--<li>Cover Letter explaining more about my work ex and academic experience - -->
            <!--<a href="/homepage/files/cover_letter.pdf" target="_blank"> click HERE </a>-->
        <!--</li>-->
        <!--<li>Article about my internship - -->
            <!--<a href="https://open.edx.org/blog/intern-spotlight-utkarsh-jadhav" target="_blank"> click HERE </a>-->
        <!--</li>-->
        <!--<li> Data Mining Project-->
            <!--<a href="https://github.com/utkjad/Multiple_classifier_ensemble" target="_blank"> click HERE </a>-->
        <!--</li>-->
        <!--<li> Information Retrieval Project-->
            <!--<a href="https://github.com/utkjad/Information_Retrieval" target="_blank"> click HERE </a>-->
        <!--</li>-->
    <!--</ul>-->

    <!--</p>-->



    <!--<div class="row-class">-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/linux.png"}}-->
                                      <!--border="0"></span>-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/python.png"}}-->
                                      <!--border="0"></span>-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/js.png"}} border="0"></span>-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/mongo.png"}}-->
                                      <!--border="0"></span>-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/opensource.png"}}-->
                                      <!--border="0"></span>-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/scipy.png"}}-->
                                      <!--border="0"></span>-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/coding.png"}}-->
                                      <!--border="0"></span>-->
        <!--<span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/redcardinal.png"}}-->
                                      <!--border="0"></span>-->
    <!--</div>-->
</div>

