<div class="inverse-sidebar">
    <p>
        <img class="photo"
             ng-src={{"/homepage/images/utkarsh.jpg"}}
             width="210"
             height="192"
             align="left"
             border="0">
        <br>Hey there. My name is Utkarsh (Pronounced as <i>Oot-Karrsh</i>).
        Utkarsh is an old Sanskrit name meaning progress.
        I am a Computer Science graduate student currently studying at Northeastern University in the beautiful
        city of Boston. I am passionate about developing software which have huge and widespread impact, and
        are fun to develop.
    </p>

    <p>
        When I get time, I love to explore Boston on my bike, or trek in New Hampshire!
        My current favourite book is Sapiens by Yuval Noah Harari, and I am a big
        fan of Harry Potter, and The Lord of the Rings!
    </p>

    <p style="color:#7b080c">
        <i> I am currently looking for full time opportunities starting December 2016. Hit me up on
            Linkedin, or contact me on jadhav.u@husky.neu.edu!</i>
    </p>

</div>

