<div class="inverse-sidebar">
    <p>
        <img class="photo"
             ng-src={{"/homepage/images/utkarsh.jpg"}}
             width="200"
             height="200"
             align="left"
             border="0">
        <br>Hey there. My name is Utkarsh (Pronounced as <i>Oot-Karrsh</i>).
        Utkarsh is an old Sanskrit name meaning progress.
        I am a Computer Science graduate student currently studying at Northeastern University in the beautiful
        city of Boston. I am passionate about developing software which have huge and widespread impact, and
        are fun to develop.
    </p>

    <p>
        When I get time, I love to explore Boston on my bike, or trek in New Hampshire!
        My current favourite book is Sapiens by Yuval Noah Harari, and I am a big
        fan of Harry Potter, and The Lord of the Rings!
    </p>
    <p>
        Also, I am crazy about birdwatching and have been doing it since I was a kid. Among the bird species I have seen
        till now, Paradise Flycatcher is my favourite.
    </p>

    <p style="color:#7b080c">
        <i> *** I am currently looking for full time opportunities starting December 2016. Connect me on
            Linkedin, or contact me on <code>jadhav.u@husky.neu.edu</code> ***</i>
    </p>

    <div class="row">
                <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/linux.png"}}
                                              border="0"></span>
        <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/python.png"}}
                                      border="0"></span>
        <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/js.png"}} border="0"></span>
        <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/mongo.png"}}
                                      border="0"></span>
        <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/opensource.png"}}
                                      border="0"></span>
        <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/scipy.png"}}
                                      border="0"></span>
        <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/coding.png"}}
                                      border="0"></span>
        <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/redcardinal.png"}}
                                      border="0"></span>
    </div>
</div>

