<div class="inverse-sidebar contact">
    <p>
        Best way to contact me is to mail me!
        <br>
        <br>
    <ul>
        <li>
            <a href="#/contact">
                <span class="left"><i class="fa fa-phone-square fa-lg fa-fw"></i></span>
                <span class="right">+1-617-909-4437</span>
            </a>
        </li>

        <li>
            <a href="#/contact">
                <span class="left"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
                <span class="right">jadhav.utkarsh@gmail.com</span>
            </a>
        </li>

        <li>
            <a href="#/contact">
                <span class="left"><i class="fa fa-envelope fa-lg fa-fw"></i></span>
                <span class="right">jadhav.u@husky.neu.edu</span>
            </a>
        </li>
    </ul>
    </p>
</div>