<div class="inverse-sidebar resume">
    <section class="section-resume">
        <a href="/homepage/files/utkarsh_resume.pdf" target="_blank">
            <h4 class="section-title">
                <span class="right"><i class="fa fa-download fa-lg fa-fw"></i></span>
                <span class="right"> To view Complete Resume click </span>
                <span class="left"><i class="fa fa-file fa-lg fa-fw"></i></span>
            </h4>
        </a>
    </section>

    <br>
    <section class="section-resume">
        <h4 class="section-title">
            <span class="right">Technical Skills</span>
            <span class="left"><i class="fa fa-code fa-lg fa-fw"></i></span>
        </h4>

        <div class="column">
            <div class="row">
                <span class="pull-left">Programming Languages</span>
                <span class="pull-right">Python, Java, JavaScript, C, Bash Shell, Scheme (Racket), C++</span>
            </div>

            <div class="row">
                <span class="pull-left">Data Science Tools </span>
                <span class="pull-right"> SciPy Ecosystem, WEKA, MapReduce(Hadoop)</span>
            </div>
            <div class="row">
                <span class="pull-left">Database Platforms</span>
                <span class="pull-right"> SQL : MySQL, PostgreSQL, NoSQL: MongoDB</span>
            </div>
            <div class="row">
                <span class="left">Web Technologies</span>
                <span class="right"> Django, RESTful Web Services, Node.js, Bootstrap, HTML5, Selenium, Robot</span>
            </div>
            <div class="row">
                <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/linux.png"}}
                                              border="0"></span>
                <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/python.png"}}
                                              border="0"></span>
                <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/js.png"}} border="0"></span>
                <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/mongo.png"}}
                                              border="0"></span>
                <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/opensource.png"}}
                                              border="0"></span>
                <span class="pull-left"> <img class="photo-icon" ng-src={{"/homepage/images/scipy.png"}}
                                              border="0"></span>
            </div>
        </div>
    </section>

    <section class="section-resume">
        <h4 class="section-title">
            <span class="right">Work Experience</span>
            <span class="left"><i class="fa fa-briefcase fa-lg fa-fw"></i></span>
        </h4>
        <div class="column">
            <div class="row">
                <span class="pull-left">eResearchTechnology (ERT), Boston, MA
                    <br> Product Software Engineer Co-op (February 2016 - July 2016)
                </span>
                <span class="pull-right">
                <img class="photo-icon-company" ng-src={{"/homepage/images/ERT.png"}} border="0">
                </span>
            </div>

            <div class="row">
                <span class="pull-left">edX, Cambridge,  MA
                    <br> Summer Engineering Intern (May - August 2015)
                </span>
                <span class="pull-right">
                <img class="photo-icon-company" ng-src={{"/homepage/images/edx.png"}} border="0">
                </span>
            </div>

            <div class="row">
                <span class="pull-left">Indian Institute Of Technology Bombay, Mumbai, India
                    <br> Software Developer (March - August 2014)
                </span>
                <span class="pull-right">
                <img class="photo-icon-company" ng-src={{"/homepage/images/iitb.png"}} border="0">
                </span>
            </div>

        </div>
    </section>
</div>