<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text no-padding pull-left">
            <a ng-click="model.back()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
            </a>
        </div>

        <div class="nav-sidebar no-padding col-sm-4 col-md-3">
            <div class="navbar-header pull-left">
                <a class="navbar-brand navbrand">
                    Websites
                </a>
            </div>
            <p class="navbar-text pull-right navbar-plus">
                <a ng-click="model.newWebsite()" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
                </a>
            </p>
        </div>
        <div class="col-sm-6 col-md-7 no-padding">
            <div class="navbar-header pull-left">
                <a class="navbar-brand navbrand">
                    Edit Website
                </a>
            </div>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWebsite(model.website)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"> </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="no-padding-left no-padding-right sidebar col-sm-4 col-md-3">
        <ul class="list-group">
            <li ng-repeat= "website in model.websites"
                class="list-group-item">
                <a ng-click="model.openWebsite(website)">
                    {{website.name}}
                </a>
                <p class="pull-right">
                    <a ng-click="model.editWebsite(website)">
                            <span class="glyphicon glyphicon-cog"></span>
                    </a>
                </p>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 col-md-9 inverse-sidebar">
        <form>
            <div ng-if="model.alert" class="alert alert-danger alert-dismissible" role="alert">
                <button ng-click="model.clear()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Failure!</strong> {{model.alert}}
            </div>

            <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
                <button ng-click="model.clear()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Success!</strong> {{model.success}}
            </div>

            <div class="form-group">
                <label for="name">Website Name</label>
                <input ng-model="model.website.name"
                       id="name"
                       type="text"
                       class="form-control"
                       placeholder="Name"
                       value = "{{model.website.name}}">
            </div>
            <div class="form-group">
                <label for="description">Website Description</label>
                <textarea ng-model = "model.website.description"
                          id="description"
                          class="form-control"
                          rows="5"
                          placeholder="Description"
                          value="{{model.website.description}}">
                </textarea>
            </div>
        </form>
        <a ng-click="model.deleteWebsite()" class ="btn btn-block btn-danger">
            Delete
        </a>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.profile()" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
