<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class = "navbar-text no-padding pull-left">
            <a ng-click = "model.back()" class = "navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header pull-left">
            <a class="navbar-brand navbrand">
                Websites
            </a>
        </div>

        <p class="navbar-text pull-right">
            <a ng-click = "model.newWebsite()" class="navbar-link">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat = "website in model.websites"
            class = "list-group-item" >
            <a ng-click = "model.openWebsite(website)">
                {{website.name}}
            </a>
            <p class="pull-right">
                <a ng-click = "model.editWebsite(website)" >
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </p>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click = "model.profile()"
               class="navbar-link">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>