<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class = "navbar-text no-padding pull-left">
            <a href="../website/website-list.html" class = "navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header pull-left">
            <a class="navbar-brand navbrand">
                Pages
            </a>
        </div>

        <p class="navbar-text pull-right">
            <a href="page-new.html" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class = "list-group-item">
            <a href="../widget/widget-list.html">
                Blog Post
            </a>
            <p class="pull-right">
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>

            </p>
        </li>

        <li class = "list-group-item">
            <a href="../widget/widget-list.html">
                Blogs
            </a>
            <p class="pull-right">
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>

            </p>
        </li>

        <li class = "list-group-item">
            <a href="../widget/widget-list.html">
                Home
            </a>
            <p class="pull-right">
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>

            </p>
        </li>

        <li class = "list-group-item">
            <a href="../widget/widget-list.html">
                About Us
            </a>
            <p class="pull-right">
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>

            </p>
        </li>

        <li class = "list-group-item">
            <a href="../widget/widget-list.html">
                Contact
            </a>
            <p class="pull-right">
                <a href="page-edit.html">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>

            </p>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../user/profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
            </a>
        </p>
    </div>
</nav>
