<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class = "navbar-text no-padding pull-left">
            <a ng-click="model.back()" class = "navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header pull-left">
            <a class="navbar-brand navbrand">
                Pages
            </a>
        </div>

        <p class="navbar-text pull-right">
            <a ng-click="model.newPage()" class="navbar-link">
                        <span class="glyphicon glyphicon-plus"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li ng-repeat = "page in model.pages" class = "list-group-item">
            <a ng-click="model.openPage(page)">
                {{page.name}}
            </a>
            <p class="pull-right">
                <a ng-click="model.editPage(page)">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>

            </p>
        </li>
    </ul>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.profile()" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
            </a>
        </p>
    </div>
</nav>
