body {
    padding-top: 60px;
    background-color: #FDFDFD;
}

.navbar {
    padding: 0 0 0 0;
    position: fixed;
    line-height: 60px;
    text-align: center;
    background-color: #FBA519;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #7b080c;
}

.navbar-collapse {
    display: block !important;
}

.navbar-header {
    float: left;
    width: 70%;
}
.navbar-brand {
    opacity: 0.8;
    float: none;
    font-family: 'Righteous', serif;
    font-size: 2em;
    color: #7b080c;
}

.inverse-sidebar {
    font-family: 'Gentium Book Basic', serif;
    font-size: medium;
    color: black;
    text-align: justify;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    body {
        padding-top: 120px;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #FDFDFD;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar {
        margin-left: 10%;
        margin-right: 10%;
        padding: 0 0 0 0;
        line-height: 120px;
        text-align: center;
        border-bottom: solid;
        border-bottom-width: 2px;
        border-color: #7b080c;
    }

    .navbar-header {
        background-color: #FBA519;
        float: left;
        width: 100%;
    }

    .navbar-brand {
        opacity: 0.8;
        float: none;
        font-family: 'Righteous', serif;
        font-size: 4em;
        color: #7b080c;

    }

    .inverse-sidebar {
        font-family: 'Gentium Book Basic', serif;
        font-size: medium;
        color: black;
        text-align: justify;
        padding-top: 40px;
        padding-left: 40px;
        padding-right: 40px;
        overflow-y: scroll;
        margin-bottom: 40px;
    }

    .fa-lg {
        vertical-align: 0;
    }
}
