.photo {
    display: none;
}

.photo-icon {
    padding: 3px 3px 3px 3px;
    height: 50px;
    width: 50px;
}

.photo-icon-company {
    padding: 3px 3px 3px 3px;
    height: 50px;
    max-width: 100px;
}

@media (min-width: 768px) {
    .photo {
        height: 200px;
        width: 200px;
        display: block;
        margin: 2px 2px 2px 2px;
        border-color: #7b080c;
        border: solid;
        border-width: 1.5px;
        padding: 2px 2px 2px 2px;
    }
}