<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text no-padding pull-left">
            <a ng-click="model.back()" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand navbrand">
                Widget Edit
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div>

        <div ng-if="model.alert" class="alert alert-danger alert-dismissible" role="alert">
            <button ng-click="model.clear()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Failure!</strong> {{model.alert}}
        </div>

        <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
            <button ng-click="model.clear()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> {{model.success}}
        </div>

        <form>
            <div class="form-group">
                <label for="text">Text</label>
                <input ng-model="model.widget.text"
                       type="text"
                       class="form-control"
                       id="text">
            </div>
            <div class="form-group">
                <label for="rows">Rows</label>
                <input ng-model="model.widget.rows"
                       type="number"
                       class="form-control"
                       id="rows">
            </div>
            <div class="form-group">
                <label for="placeholder">Placeholder</label>
                <input ng-model="model.widget.placeholder"
                       type="text"
                       class="form-control"
                       id="placeholder">
            </div>
            <div class="form-group">
                <label for="formatted">Formatted</label>
                <input ng-model="model.widget.formatted"
                       type="checkbox"
                       id="formatted">
            </div>

        </form>

        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget()">Delete</a>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.profile()" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>