<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text no-padding pull-left">
            <a ng-click="model.back()" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand navbrand">
                Widgets
            </a>
        </div>
        <p class="navbar-text pull-right">
            <a ng-click="model.newWidget()" class="navbar-link">
                <span class="glyphicon glyphicon-plus">
                </span>
            </a>
        </p>
    </div>
</nav>

<wam-sortable data="model" callback="model.reorderWidget(start, end)"> </wam-sortable>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.profile()" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>