<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class = "navbar-text no-padding pull-left">
            <a href="widget-list.html" class = "navbar-link">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header pull-left">
            <a href= "widget-list.html" class="navbar-brand navbrand">
                Edit Widget
            </a>
        </div>

        <p class="navbar-text pull-right">
            <a href="widget-list.html" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
            </a>
        </p>
    </div>
</nav>


<div class="container-fluid">

    <div class="inverse-sidebar">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name"
                       type="text"
                       placeholder="Name"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="text">Text</label>
                <input id="text"
                       type="text"
                       placeholder="Text"
                       class="form-control">
            </div>
            <div class="form-group">
                <label for="url">URL</label>
                <input id="url"
                       type="url"
                       class="form-control"
                       placeholder="URL"
                       value="">
            </div>
            <div class="form-group">
                <label for="width">Width</label>
                <input id="width"
                       type="text"
                       placeholder="Width"
                       class="form-control"
                       value="">
            </div>
        </form>
        <a href="widget-list.html"
           class="btn btn-block btn-danger">
            Delete
        </a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../views/user/profile.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
            </a>
        </p>
    </div>
</nav>
