<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text no-padding pull-left">
            <a ng-click="model.back()" class="navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
        </div>
        <div class="navbar-header pull-left">
            <a class="navbar-brand navbrand">
                Widget Edit
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok">
                </span>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div>

        <div ng-if="model.alert" class="alert alert-danger alert-dismissible" role="alert">
            <button ng-click="model.clear()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Failure!</strong> {{model.alert}}
        </div>

        <div ng-if="model.success" class="alert alert-success alert-dismissible" role="alert">
            <button ng-click="model.clear()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Success!</strong> {{model.success}}
        </div>

        <div ng-model="model.widget.text"
             text-angular
             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
        </div>

        <a class="btn btn-danger btn-block"
           ng-click="model.deleteWidget()">Delete</a>

    </div>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.profile()" class="navbar-link">
                <span class="glyphicon glyphicon-user">
                </span>
            </a>
        </p>
    </div>
</nav>